//changed:
$utilities: map-merge(
	$utilities,
	(
        //圓角 2px
		'rounded':
			map-merge(
				map-get($utilities, 'rounded'),
				(
					values:
						map-merge(
							map-get(map-get($utilities, 'rounded'), 'values'),
							(
								mini: $border-radius-mini,
							)
						),
				)
			),
		'rounded-top':
			map-merge(
				map-get($utilities, 'rounded-top'),
				(
					values:
						map-merge(
							map-get(map-get($utilities, 'rounded-top'), 'values'),
							(
								mini: $border-radius-mini,
							)
						),
				)
			),
		'rounded-bottom':
			map-merge(
				map-get($utilities, 'rounded-bottom'),
				(
					values:
						map-merge(
							map-get(map-get($utilities, 'rounded-bottom'), 'values'),
							(
								mini: $border-radius-mini,
							)
						),
				)
			),
		'rounded-start':
			map-merge(
				map-get($utilities, 'rounded-start'),
				(
					values:
						map-merge(
							map-get(map-get($utilities, 'rounded-start'), 'values'),
							(
								mini: $border-radius-mini,
							)
						),
				)
			),
		'rounded-end':
			map-merge(
				map-get($utilities, 'rounded-end'),
				(
					values:
						map-merge(
							map-get(map-get($utilities, 'rounded-end'), 'values'),
							(
								mini: $border-radius-mini,
							)
						),
				)
			),
	)
);
