.card{
    width: clamp(584px,60%,1100px);
}
.card-header{
    padding-block:12px;
}
.card-content{
    img{
        height: 40px;
        aspect-ratio: 1;
        object-fit: cover;
    }
}
.card-text{ //FIXME:
    h3{
        line-height: 1;
    }
    ul li{
        text-indent: 16px;
    }
}



// 助教回復功能 data-shown切換
[data-shown='true']{
    transform: scale(1);
}
[data-shown='false']{
    transition: none;
    height: 0;
    transform: scale(0);
}

[data-shown]:nth-child(3){
    transition: all 500ms;
    transform-origin: bottom right;
}
