.dropdown-toggle-success{

    &:after{
        content:"expand_more";
        border: 0;
        //style
        vertical-align: bottom;
        margin-left: 8px;
        font-family: 'Material Icons';
        color:$success;
        line-height: 1;
        font-size: 24px;
        font-weight: 400;
    } 
    &[aria-expanded="true"]:after{
            rotate: 180deg;
        }
}