.modal-lh-24{
    line-height: 24px;
}
.modal-lh-33{
    line-height: 33px;
}
.modal-footer button{
    margin-inline-end: 0;
    padding : 8px 33px;
    
    & + button {
        margin-left: 15px;
    }
}


